ALGORITHM=HS256
BOT_USER_TOKEN=xoxb-botusertoken
CACHE_FN=/tmp/meetup_query
CHANNEL=okc-metro
CHANNEL2=events
CLIENT_ID=securesuperkey
CLIENT_SECRET=secretsecuresuper
CSV_FN=/tmp/output.csv
DAYS=7
DB_PASS=anothercredgoeshere
DB_PATH=/data/meetup_bot.db
DB_USER=someuser
HOST=localhost
JSON_FN=/tmp/output.json
JWT_LIFE_SPAN=120
PORT=3000
PRIV_KEY_B64=base64_encoded_private_pem_key
PUB_KEY_B64=base64_encoded_public_pem_key
REDIRECT_URI=https://acme.com
REGISTRY_PASS=containerregistrytoken
REGISTRY_URL=docker.io
SECRET_KEY=secretmeetinginthebasementofmybrain
SELF_ID=techlahomauserid
SERVICE=meetup-bot
SIGNING_KEY_ID=activejwtkeyid
SIGNING_SECRET=33characterstringthatImm1micking!
SLACK_WEBHOOK=incomingwebhook
TOKEN_EXPIRE=30
TOKEN_URL="https://secure.meetup.com/oauth2/access"
TTL=3600
TZ=America/Chicago
USER_NAME=containerregistryusername
USER_TOKEN=xoxp-usertoken

# Dokploy
DOKPLOY_URL=https://dokploy.example.com
DOKPLOY_API_KEY=your-dokploy-api-key
DOKPLOY_ENV=prod
DOKPLOY_SSH_HOST=0.0.0.0
DOKPLOY_SSH_PORT=22
DOKPLOY_SSH_USER=root

# Taskfile Env Precedence
# * Manipulate venv path
# * https://taskfile.dev/docs/experiments/env-precedence
TASK_X_ENV_PRECEDENCE=1
